{% extends 'base.html.twig' %}

{% block title %}Trains List{% endblock %}

{% block body %}
    {% if trains %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of Coaches</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for train in trains %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ train.name }}</td>
                    <td>{{ train.elements.count }}</td>
                    <td>
                        <a href="{{ path('trains_show', {id: train.id}) }}" >Show</a>
                        <a href="{{ path('trains_edit', {id: train.id}) }}" >Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 class="text-center">Sorry, no train found</h3>
    {% endif %}
{% endblock %}
