{% extends 'base.html.twig' %}

{% block title %}Trains Show{% endblock %}

{% block body %}
    <h3 class="text-center">Train details</h3>
    <h4 class="text-center">{{ train.name }}</h4>
    <br />

    <ul class="list-group list-group-horizontal">
        {% for connector in train.elements %}
            {% if connector.locomotive %}
                <li class="text-bg-success list-group-item mr5">{{ connector.locomotive.serialNo }}</li>
            {% elseif connector.wagon %}
                <li class="text-bg-warning list-group-item mr5">{{ connector.wagon.serialNo }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        {% for key, element in extraInfo %}
            <tr>
                <th scope="row">{{ key }}</th>
                <td>{{ element }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
